<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="NodeJSConfigurationType" factoryName="Node.js" path-to-node="/usr/local/bin/node" path-to-js-file="./bin/www" working-dir="$PROJECT_DIR$">
    <RunnerSettings RunnerId="NodeJS.run" />
    <ConfigurationWrapper RunnerId="NodeJS.run" />
    <method />
  </configuration>
</component>